@model ShoppingCartViewModel
@{ 
    int totalSum = 0;
 } 

<div>
        <ol>
            @foreach (var item in Model.Cart)
            {
                var mat = Model.Matratts.First(m => m.MatrattId == item.MatrattId);
                string name = mat.MatrattNamn;
                int price = mat.Pris*item.Antal;
                totalSum += price;
                <li>
                    <p>@name</p>
                    <section class="form-row">
                        <form asp-action="EditCart" asp-controller="Home">
                            <input asp-for="@item.Antal" class="form-control" type="number" min="0" max="10" />
                            <input type="submit" value="ändra" class="btn btn-primary"/>
                        </form>
                    </section>
                    <p>Antal: @item.Antal</p>
                    <p>Pris: @price</p>
                </li>
            }
        </ol>
    <p>Total: @totalSum</p>
    <a asp-action="Checkout" asp-controller="Home">Betsäll order</a>
</div>