@model AdminViewModel

<div class="form-inline">

    <form asp-action="NewMenuItem" asp-controller="Admin">

        <div class="form-group">
            <label asp-for="NewMatratt.MatrattNamn" class="col-form-label"></label>
            <input asp-for="NewMatratt.MatrattNamn" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="NewMatratt.Beskrivning" class="col-form-label"></label>
            <input asp-for="NewMatratt.Beskrivning" class="form-control" />
        </div>

        <div class="form-group">
            <label class="col-form-label">Ingredienser</label>
                @foreach (var item in Model.ExcistingProdukter)
                {
                    <section class="form-check">
                        <input asp-for="NewMatratt.ProduktList" type="checkbox" value="@item.ProduktId" class="form-check-input" />
                        <label asp-for="@item.ProduktId" class="form-check-label">@item.ProduktNamn</label>
                    </section>
                }
        </div>

        <div class="form-group">
            <label asp-for="NewMatratt.MatrattTyp" class="col-form-label">Maträttstyp</label>
            <select asp-for="NewMatratt.MatrattTyp" class="form-control" >
                <option selected>--Välj maträttstyp--</option>
                @foreach (var item in Model.Typer)
                {
                    <option value="@item.MatrattTyp1">@item.Beskrivning</option>
                }
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Skapa ny maträtt"/>
    </form>

</div>